<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>登录</title>
  <link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="login-wrap">
    <form method="post">
      <div class="form-line">
        <label><span>昵称：</span><input class="text-input" type="text" name="name" /></label>
      </div>
      <div class="form-line btn-line">
        <button class="button" type="submit">登录</button>
        <button class="button" type="reset">取消</button>
      </div>
    </form>
  </div>
</body>
</html>